<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.payu.baas.core">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <uses-feature android:name="android.hardware.camera.any" />

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_MEDIA_LOCATION" />

    <application
        android:name="com.clevertap.android.sdk.Application"
        android:networkSecurityConfig="@xml/network_security_config">
        <activity
            android:name="com.payu.baas.core.view.KarzaActivity"
            android:exported="true" />

        <meta-data
            android:name="@string/clevertap_account_id"
            android:value="@string/clevertap_account_id_value" />
        <meta-data
            android:name="@string/clevertap_account_token"
            android:value="@string/clevertap_account_token_value" /> <!-- IMPORTANT: To force use Google AD ID to uniquely identify  users, use the following meta tag. GDPR mandates that if you are using this tag, there is prominent disclousure to your end customer in their application. Read more about GDPR here - https://clevertap.com/blog/in-preparation-of-gdpr-compliance/ -->
        <meta-data
            android:name="@string/clevertap_google_ad_id"
            android:value="@string/clevertap_google_ad_id_value" />

    </application>
</manifest>